<Header>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="../../app/app.component.html">Clubes grandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/Corinthians">Corinthians</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/palmeiras">Palmeiras</a>
    </li>
  </ul>


</Header>

<footer>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/img/Flamengo.png" >
    <div class="card-body">
      <h5 class="card-title">Flamengo</h5>
      <p class="card-text">O Flamengo foi fundado em 17 de novembro de 1895 para as disputas de remo. A entrada da equipe no futebol aconteceu em 1912. Atualmente, o time rubro-negro é o maior vencedor da história do Campeonato Carioca, com 31 títulos. Segundo diversas pesquisas, é o clube com o maior número de torcedores do País.</p>
      <a href="#" class="btn btn-primary">Visitar</a>
    </div>
  </div>

</footer>


<router-outlet></router-outlet>
