<Header>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="../../app/app.component.html">Clubes grandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../flamengo/flamengo.component.html">Flamengo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../corinthians/corinthians.component.html">Corinthians</a>
    </li>
  </ul>


</Header>

<footer>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/img/Palmeiras.png" >
    <div class="card-body">
      <h5 class="card-title">Palmeiras</h5>
      <p class="card-text">Fundado por imigrantes italianos, seu primeiro nome foi Società Sportiva Palestra Italia. Em 1942, quando estava estabelecida como uma força do futebol paulista, a equipe foi obrigada a trocar de nome, passando a se chamar Sociedade Esportiva Palmeiras em decorrência da Segunda Guerra Mundial.</p>
      <a href="#" class="btn btn-primary">Visitar</a>
    </div>
  </div>

</footer>


<router-outlet></router-outlet>
<router-outlet></router-outlet>
