<Header>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="../../app/app.component.html">Clubes grandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Flamengo">Flamengo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/palmeiras">Palmeiras</a>
    </li>
  </ul>


  </Header>

  <footer>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/img/logo-corinthians-1536.png" >
      <div class="card-body">
        <h5 class="card-title">Corinthians</h5>
        <p class="card-text">O Sport Club Corinthians Paulista foi fundado em 1° de Setembro de 1910, na cidade de São Paulo. O clube foi criado por um grupo de operários de fábrica de tecidos, no bairro do Bom Retiro. O clube foi fundado por Anselmo Corrêa, Antônio Pereira, Carlos Silva, Joaquim Ambrósio e Raphael Perrone, todos operários.</p>
        <a href="https://identidadecorinthiana.com/historia-do-sport-club-corinthians-paulista/" class="btn btn-primary">Visitar</a>
      </div>
    </div>

  </footer>


  <router-outlet></router-outlet>
