<header>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="http://localhost:4200/">Clubes grandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Flamengo">Flamengo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Corinthians">Corinthians</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/palmeiras">Palmeiras</a>
    </li>
  </ul>
</header>
<footer>
</footer>


<router-outlet></router-outlet>
